html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================= BELOW  ========================= */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}
#notFound {
  font-size: 3rem;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.homeButton {
  background-color: #000000;
}

.loginBG {
  background-color: #000000;
}

.signupBG {
  background-color: #000000;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.reverseContent {
  flex-direction: row-reverse;
}

.aboutDiv {
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  height: 75rem;
}

@media (max-width: 800px) {
  .aboutDiv {
    height: 135rem;
  }
}

.procedureDiv {
  align-items: center;
  margin-top: 2rem;
}

.detail1 {
  height: 25rem;
}
.detail2 {
  height: 35rem;
}

.burger-open {
  width: 15rem;
  height: 12rem;
  background-color: #292725;
  border-radius: 10px;
}
@media (max-width: 580px) {
  .burger-open {
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 440px) {
  .burger-open {
    width: 8rem;
    height: 10rem;
  }
}

.tab {
  display: flex;
  width: 8rem;
  height: 2.5rem;
  border: 2px solid #098dcd;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #000000;
  color: #393e46;
  margin: 1rem;
  transition: 1s ease-in-out;
}

.tab:hover {
  background-color: #eeeeee;
  transition: 1s ease-in-out;
}
@media (max-width: 1300px) {
  .tab {
    display: none;
  }
}

.theTab {
  display: flex;
  width: 8rem;
  height: 2.5rem;
  border: 2px solid #098dcd;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #000000;
  color: #393e46;
  margin: 1rem;
  transition: 1s ease-in-out;
}

.theTab:hover {
  background-color: #eeeeee;
  transition: 1s ease-in-out;
}

.categories {
  appearance: none;
  width: 10rem;
  font-size: 1.1rem;
  height: 60%;
  padding: auto;
  text-align: center;
  border-radius: 10px;
  background-color: #f1f6f9;
}

.categories:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  width: 50%;
  margin: 4rem auto;
  justify-content: space-around;
}

.pagination a {
  display: flex;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.checkoutPaginate {
  display: flex;
  margin: 2rem auto;
  justify-content: space-around;
}

.checkoutPaginate a {
  display: flex;
  width: 3rem;
  height: 2rem;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.active a {
  color: #ffffff;
  background: #6c7ac9;
}

.burgerContainer.open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 6vw;
  top: 5rem;
  background-color: #d7e9f7;
  border-radius: 10px;
  border: 2px solid #bbbfca;
}

.itemsPage {
  background-color: #d7e9f7;
}

.message.showMessage {
  opacity: 1;
  transition: 1s ease-in-out;
}

.message {
  display: flex;
  opacity: 0;
  position: fixed;
  left: 35%;
  right: 35%;
  top: 8%;
  width: 30%;
  height: 3rem;
  background-color: #ddffbc;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  border-radius: 10px;
}

.noItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  font-size: 2.5rem;
  border-radius: 20px;
  width: 70vw;
  height: 40vw;
  background-color: #f1f6f9;
}
